<!-- Modal para solicitar a senha -->
<div class="modal fade" id="modalEditarTipoUsuario" tabindex="-1" role="dialog" aria-labelledby="modalEditarTipoUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarTipoUsuarioLabel">Edição de tipo de usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <input type="hidden" id="idTipoUser" value="valueTipoUser">
            
            <div class="modal-body">
                <div class="form-group">
                    <label for="slugTypeUser">Nome do tipo de usuário</label>
                    <input class="au-input au-input--full form-control" type="text" id="slugTypeUser" placeholder="Nome do tipo de usuário">
                </div>
                
                <div class="form-group">
                    <label for="campoTexto">Descrição do tipo de usuário</label>
                    <input class="au-input au-input--full form-control" type="text" id="descriptionUser" placeholder="Digite o que esse tipo de usuário faz no sistema">
                </div>
                
                <div class="form-group">
                    <label for="selectOption">Selecione uma opção</label>
                    <select class="form-control" id="selectOption">
                        <option value="1">Ativo</option>
                        <option value="0">Inativo</option>
                    </select>
                </div>

                <div class="alert alert-danger mt-2" id="errorInvalidUserTypeDescription" style="display: none !important;">
                    A descrição não pode estar vazia.
                </div>
            
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="salvarEditarTipo()">Salvar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modals anteriores e scripts ... -->

<script>
    var modalConfirmSenha = document.getElementById('modalEditarTipoUsuario');
    modalConfirmSenha.addEventListener('hidden.bs.modal', function () {
        var errorMensagem = document.getElementById('errorInvalidUserTypeDescription');
        errorMensagem.style.display = 'none'; // Oculta a mensagem de erro ao fechar o modal
    });


    function salvarEditarTipo() {
        var descricaoTipo = document.getElementById('descriptionUser').value;
        var slugTipo = document.getElementById('slugTypeUser').value;

        if (descricaoTipo.trim() === '' || slugTipo.trim() === '') {
            document.getElementById('errorInvalidUserTypeDescription').style.display = 'block';
            return;
        }

        document.getElementById('errorInvalidUserTypeDescription').style.display = 'none';

        $('#modalEditarTipoUsuario').modal('hide'); // Oculta o modal manualmente

        editarTipoUsuario();
    }

    function editarTipoUsuario() {
        $(document).ready(() => {
            $.ajax({
                method: "POST",
                url: "/admin/edit/types/confirm",
                data: {
                    idType: $("#idTipoUser").val(),
                    descriptionType: $("#descriptionUser").val(),
                    slugType: $("#slugTypeUser").val(),
                    isActive: $("#selectOption").val()
                }
            }).done((data) => {
                // Mostrar mensagem com o resultado da solicitação
                const swalWithReload = Swal.mixin(data);
                swalWithReload.fire().then((result) => {
                    if (result.isConfirmed || result.dismiss === Swal.DismissReason.close) {
                        location.reload(); // Recarregar a página ao clicar em OK ou fechar o modal
                    }
                });
            });
        });
    }

</script>
