{% extends '/auth/base.html' %}
{% block title %}Login{% endblock %}

{% block head %}
	{{ super() }}	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">   
    <script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock %}


{% block content %}
<body>
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Faça login</h1>
				<input class="login_inputs" type="email" placeholder="Email" id="email_usuario"/>
				<input class="login_inputs" type="password" placeholder="Senha" id="senha_usuario"/>
				<a href="{{ url_for('auth.route_redefinir') }}">Esqueceu a senha? Clique aqui</a>
				<button onclick="logar_usuario()">Login</button>
			</form>
		</div>

		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Loja Elétrica LTDA</h1>
					<br></br>
					<button class="ghost" id="signUp"  onclick=redirect_register()>Registre-se</button>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
