{% extends '/auth/base.html' %}
{% block title %}Login{% endblock %}



{% block content %}
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Faça login</h1>
				<input type="email" placeholder="Email" id="email_usuario"/>
				<input type="password" placeholder="Senha" id="senha_usuario"/>
				<!-- <a href="#">Esqueceu a senha?</a> -->
				<button onclick="logar_usuario()">Login</button>
			</form>
		</div>

		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Loja Elétrica LTDA</h1>
					<br></br>
					<button class="ghost" id="signUp"  onclick=redirect_register()>Registre-se</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
