{% extends '/auth/base.html' %}
{% block title %}Redefinir senha{% endblock %}

{% block head %}
    {{ super() }}    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"> 
    <script src="{{ url_for('static', filename='js/auth/redefinir.js') }}"></script>
{% endblock %}

{% block content %}
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form>
                <h1>Você está quase lá!</h1>
                <h3>Deu tudo certo até agora!</h3>
                <p> Digite uma nova senha para o seu perfil</p>
                <input type="password" placeholder="Digite sua nova senha" id="newPassword"/>

                <a href="{{ url_for('auth.route_login') }}">Lembrou a sua senha antiga? Clique aqui</a>
                <button onclick="redefine_my_password(event);">Redefinir</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
