{% extends 'dashboard/layouts/base.html' %}
{% block title %} Editar usuários {% endblock %}

{% block content %}

{% include 'dashboard/modals/modal_editar_usuario.html' %}
 
    <body class="animsition">
        <div class="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-25">
                            <div class="col-sm-12 col-lg-12">
                                <h2 class="title-1 m-b-25">Membros registrados</h2>
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{ data.usersCount }}</h2>
                                                <span>usuários ativos</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- DATA TABLE-->
                        <h2 class="title-1 m-b-25">Usuários</h2>
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Data registro</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Ativo</th>
                                        <th>Tipo usuário</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in data.registeredUsers %}
                                        <tr>
                                            <td>{{ user.Id }}</td>
                                            <td>{{ user.date_joined }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td class="{{ 'process' if user.active else 'denied'}}">{{ 'Ativo' if user.active else 'Inativo' }}</td>
                                            <td>{{ user.type_user_slug.capitalize() }}</td>
                                            <td>
                                                {% if data.currentUser.type_user == 1 %}
                                                    {% if user.type_user not in (1,) %}
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Editar" 
                                                                onclick="abrirModalEdicao('{{ user.Id }}', '{{ user.name }}', '{{ user.type_user }}');">
                                                                <i class="zmdi zmdi-edit"></i>
                                                            </button>
                                                            {% if user.active %}
                                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Desativar" onclick="mudarStatusUser('{{ user.Id }}')">
                                                                    <i class="zmdi zmdi-delete"></i>
                                                                </button>
                                                            {% else %}
                                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Ativar" onclick="mudarStatusUser('{{ user.Id }}')">
                                                                    <i class="zmdi zmdi-check"></i>
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                <b>INDISP</b>
                                                {% endif %}
                                                </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    function abrirModalEdicao(idUsuario, nomeUsuario, tipoUsuario) {
        var modal = new bootstrap.Modal(document.getElementById('modalEditarUsuario'));
        modal.show();

        console.log(idUsuario, nomeUsuario, tipoUsuario)

        // Definir os valores dos campos do modal com os parâmetros passados
        document.getElementById('idUser').value = idUsuario;
        document.getElementById('nameUser').value = nomeUsuario;
        document.getElementById('selectOptionTypeUser').value = tipoUsuario;
    }


    function mudarStatusUser(idUser) {
        $(document).ready(() => {
            $.ajax({
                method: "POST",
                url: "/admin/edit/user/status",
                data: {
                    idUser: idUser,
                }
            }).done((data) => {
                // Mostrar mensagem com o resultado da solicitação
                const swalWithReload = Swal.mixin(data);
                swalWithReload.fire().then((result) => {
                    if (result.isConfirmed || result.dismiss === Swal.DismissReason.close) {
                        location.reload(); // Recarregar a página ao clicar em OK ou fechar o modal
                    }
                });
            });
        });
    }
</script>

{% endblock %}
