{% extends 'dashboard/layouts/base.html' %}
{% block title %} Início {% endblock %}

{% block content %}

<head>
    <link href="{{ url_for('static', filename='css/card_home_1.css') }}" rel="stylesheet" media="all">
</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="row m-t-25">
                            <div class="col-sm-12 col-lg-12">
                                <h2>Confira algumas vantagens de trabalhar conosco: </h2>
                                            
                                    
                                    


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
